.large-hero {
    position: relative;
    
    &__text-content {
        
        /*allow the div containing the text to appear over the image in large-hero*/
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
        
        /*center align the text contents*/
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color: #2f5572;
        font-size:4.8rem;
        margin:0;
    }
    
    &__subtitle {
        font-weight: 300;
        color: #2f5572;
        font-size:2.9rem;
        margin:0;
    }

    &__description {
        color: #fff;
        /*1.875rem was determined using 30px target size assuming a base of 16px html root font size*/
        font-size:1.875rem;
        font-weight: 100;
        text-shadow:2px 2px 0 rgba(0,0,0,.1);
        
        /*break it into more than one line of text by making it about 480px wide at a 16px font size, and center it*/
        max-width:30rem;
        margin-left: auto;
        margin-right: auto;
        
    }
        
}
    